/venv
__pycache__
*.pyc
*.dat
.idea
/wandb
*.aria2
/enwiki-latest-pages-articles.xml.bz2
/dump
/dump2
/1.py
/2.py
/3.py
/external-ips.txt
.nfs*

# 1_download_conv_table.py
/STCharacters.txt
/TSCharacters.txt

# 2_build_vocab_mapping.py
/vocab-bart-base-chinese.txt
/vocab_mapping.txt

# 3_add_cantonese_tokens.py
/yue.txt
/add_token.txt

# 4_replace_embedding.py
/vocab-bart-base-cantonese.txt
