autopep8
tqdm
wandb==0.12.13
datasets==2.0.0
torch==1.11.0
jax==0.3.5
jaxlib==0.3.5
libtpu-nightly==0.1.dev20220407
flax==0.4.1
optax==0.1.1
transformers==4.18.0
tensorflow==2.8.0
tensorboard==2.8.0
tensorboard-plugin-profile==2.8.0
# https://github.com/mjpost/sacrebleu/pull/187
git+https://github.com/Trans-Bridge/sacrebleu.git@c1787456c5a44e23e70d13d2db9e2f9e8e526c5f#egg=sacrebleu
